*{
    font-family: 'Poppins', sans-serif;
}

.container{
    background-color: #0E0B14;
    margin-top: 0;
    
}

.carrosel{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: center;
    overflow: hidden;
    word-wrap: break-word;
    text-align: center;
    padding-top: 1rem;
}

div .fundo_filme{
    width: 20rem;
    height: 20rem;
    background-color: #ca221f;
}

.item_filmes{
    display: flex;
    flex-direction: column;
   
    background-color: #14111c;
    color: #F9F9F9;
}

.item_filmes h4{
    font-size: 1.5rem;
    margin-top: 0.5rem;
    text-align: center;
    justify-content: center;
    word-wrap: break-word;
}

.item_filmes p{
    text-align: left;
    margin: 0.5rem;
}

.info_filme{
    display: flex;
    
    margin: 0.5rem 0rem;
    gap: 2rem;
}

.img_filme img{
    width: 20rem;
    height: 20rem
}

.button_filme{
    display: flex;
    justify-content: space-around;
    padding-bottom: 1rem;
    
}


.button_filme button{
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    box-shadow: inset 0 0 0.5em #edd269;
    background-color: #edd269;
    color: #0E0B14;
    cursor: pointer;
    
}


.button_filme button:hover{
    background-color: #0E0B14;
    color: #edd269;
}

